@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?a3c97a0ef5ed1f1295387eb7fc384a18") format("truetype"),
url("./flaticon.woff?a3c97a0ef5ed1f1295387eb7fc384a18") format("woff"),
url("./flaticon.woff2?a3c97a0ef5ed1f1295387eb7fc384a18") format("woff2"),
url("./flaticon.eot?a3c97a0ef5ed1f1295387eb7fc384a18#iefix") format("embedded-opentype"),
url("./flaticon.svg?a3c97a0ef5ed1f1295387eb7fc384a18#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-facebook:before {
    content: "\f101";
}
.flaticon-instagram:before {
    content: "\f102";
}
.flaticon-yelp:before {
    content: "\f103";
}
